<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

   <appSettings>
      <add key="URL" value="https://4dvanceboy.github.io/lambdatest/lambdasampleapp.html" />
      <add key="LTUser" value= "">
      <add key="LTAccessKey" value="" />
      <add key="LTUrl" value="https://stage-hub.lambdatest.com/wd/hub" />
    
       <add key="Browser" value="chrome" />
       <add key="BrowserVersion" value="62.0" />
       <add key="OS" value="win10" />
    </appSettings>
  
</configuration>